<div>
  <h2>Frequently Asked Questions</h2><br/>
  <p>Q1.) How do we define which posts are to be restricted from the group?</p>
  <p>EduBuddy uses <a href="https://www.havenondemand.com/"> HavenOnDemand API </a> from HP to understand your posts better. It then matches it with it's own database to see if the post fits the criteria of educational content.</p>
  
  <br/>
  <p>Q2.) </p>
  <p> </p>
  
  <br/>
  <p>Q1.) How do we define which posts are to be restricted from the group?</p>
  <p> </p>
  
</div>
